.loginButton{
    background-color: #ffffff;
    color:#292D48;
    border-radius: 0;
    border: 3px solid #292D48;
    font-family: "Roboto",sans-serif;
    font-weight: 500;
    margin-right: 20px;
}
