.answersRow{
    display: block;
}


.answersCheckerRow{
    margin-top: 20px;
}
.answersText{
    padding-top: 20px;
    padding-bottom: 20px;
    height: 100%;
    display: block;
    margin: 0 auto;
    color: #285273;
    font-weight: 500;
    font-size: 1.25rem;
}
.answersChecker{
    text-align: right;
}


.answerIconWrapper{
    margin-top: 15px;
    width: 80%;
    display: inline-block;
    text-align: right;
}

.answerIcon{
    font-size: 32px;
    color: green;
} 
