.answerVoteCol{
    padding:0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.answerVoteIcon{
    margin: 0;
    font-size: 32px;
}


.answerDescription{
    min-height: 200px;
    display: block;
}


.answerText{
    height: 100%;
    padding: 10px 50px 10px 10px;
    display: block;
    margin: 0 auto;
}


.answerFooter{
    text-align: right;
}

.answerFooterCol{
    border-bottom: solid 1px #C4C4C4;
}
.answerFooterInfo{
    width: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
}


.answerUserInfoText{
    display: block;
    color: #BDBEC0;
    font-size: 0.9rem;
    display: block;


}
.answerUserInfoCreatedBy{
    font-weight: 500;
    color: #22243B;
}

.answerButtonCol{
    text-align: center;
    border-bottom: solid 1px #C4C4C4;
}

.correctButton{
    width: auto;
    padding:.375rem .75rem;
}