.categoryList{
    font-family: Arial, Helvetica, sans-serif;
}


.categoryListHeaderRow{
    justify-content: center;
    text-align: center;
    border-top:2px solid rgba(0,0,0,0.1);
    margin:0;
}
.categoryListHeaderWrapper{
    margin:20px;
}

.categoryListHeader{
    margin:0px;
}

.categoryListRow{
    text-align: center;
}
.categoryListCard{
    border:none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 2px 6px rgba(0,0,0,0.06), 0 3px 8px rgba(0,0,0,0.09);
    border-radius: 0;
    color: rgba(255,255,255,0.9);
    background-color:  rgba(244,128,36,0.9);
}

.categoryListCard:hover{
    box-shadow: 0 1px 4px rgba(0,0,0,0.18), 0 3px 8px rgba(0,0,0,0.18), 0 4px 13px rgba(0,0,0,0.26);
}
.categoryListCardText{
    padding-bottom:20px;
}

.CategoryListCardIcon{
    font-size:40px;
    margin-bottom:20px;
    margin-top: 20px;
    color: rgba(255,255,255,0.9);
}