.questionFormSteps{
    margin-top: 76px;
}
.questionFormStepsRow{
    margin-bottom: 1.5rem !important;
}

.questionFormStepsIconWrapper{
    text-align: center;
}

.questionFormStepsTextWrapper{
    vertical-align: middle;
}
.questionFormStepsText{
    color: #868686;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2rem;
    vertical-align: middle;
    text-transform: uppercase;
}
.questionFormStepsTextActive{
    color: #295374;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2rem;
    vertical-align: middle;
    text-transform: uppercase;
}

.questionFormStepsTextCorrect{
    color: #BDBEC0;
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 500;
    line-height: 2.2rem;
    vertical-align: middle;
    text-transform: uppercase;
}
.questionFormStepsImgWrapper{
    vertical-align: middle;
    margin-top: 150px;
    text-align: center;
}





.questionFormInfoActive > circle {
    stroke: #295374;
}
.questionFormInfoActive > path {
    fill: #295374;
}