<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Welcome</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
    <div style="width:100%;">
        <div style="text-align: center; font-family: 'Open Sans', sans-serif;  width:600px; min-height:300; padding-bottom: 50px; margin-left: auto; margin-right: auto;">
            <div style=" width: 95%; margin-left: auto; margin-right: auto; min-height: 300; padding: 0.67em 0.1em 1.5em;">
                <h1 style="margin-bottom: 15px; font-weight: 500; color: black;" >Välkommen till Rewy!</h1>
                <div style="width: 65%; margin: 0 auto;">
                    <p style="color: black; font-size: 1.1em">Vad kul att du går med i Rewy! Ditt konto är nu skapat och du kan nu logga in och ställa frågor och svara på frågor!</p>
                </div>
            </div>
        </div>
    </div>
    <p style="font-family: 'Open Sans', sans-serif; font-size: 12px; text-align: center; color: #30404D;">Notera: Du kan inte svara på detta mail.</p>
    </body>
</html>
