.profileCardRow{
    justify-content: center;
}
.profileCard{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}
.profileCardInfoWrapper{
    padding: 0px;
    text-align: center;
}

.profileCardWrapper{
    padding: 0;
}

.profileCardBanner{
    border: 0;
    border-radius: 0;
    width: 100%;
}
.profileCardInfoEditIcon{
    padding:5px;
    font-size: 1.5rem;
    text-align: end;
    margin-top: -180px;
}
.profileCardInfoEditIconSvg{
    color: #292D48;
}
.profileCardInfoEditIconSvg:hover{
    color:#295374;
}

.profileCardInfoName{
    color:#292D48;
    font-family: "Roboto";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin-top: 70px;
}
.profileCardInfoUsername{
    font-family: "Roboto";
    font-size: 1.25rem;
    font-style: normal;
    color:#BDBEC0;
}
.profileCardTabs{
    margin-top:100px;
    font-family: "Roboto";
    font-size: 1.25rem;
    font-style: normal;
}
.profileCardTabs > a{
    color:#BDBEC0;
}
.profileCardTabs > .nav-link.active{
    color:#295374;
    border:none;
    border-bottom: 2px solid #295374;
}
.profileCardTabs >  a:focus {
    outline: none !important;
  }
  


.profileCardTabs > .nav-link.active:hover{
    color:#295374;
    border:none;
    border-bottom: 2px solid #295374;
}
.profileCardTabs > .nav-link:hover{
    color:#295374;
    border:none;
}

.nav-fill > .nav-item{
    flex: 1;
}

.profileCardInformation{
    font-family: "Roboto";
    font-size: 1rem;
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #292D48;
}



.profileImage{
    width: 180px;
    height: 180px;
    position: relative;
    top: -90px;
    border-radius: 90px;
    border: 8px solid #ffffff;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.06), 0 2px 6px rgba(0,0,0,0.06), 0 3px 8px rgba(0,0,0,0.09);
    transition: transform .2s;
}

.profileImage:hover{

    box-shadow: 0 1px 3px rgba(0,0,0,0.14), 0 2px 6px rgba(0,0,0,0.14), 0 3px 8px rgba(0,0,0,0.20);
    transform: scale(1.05);
}

.profileModalBody> div > div{
 width: auto !important;
}

.profileInfoIcon{
    color: #BDBEC0;
    margin:0px 15px 0px 20px;
    font-size: 26px;
}
@media (max-width:767px){
    .profileImage{
        width: 30%;
        height: auto;
    }

}
@media (max-width:414px){
    .profileImage{
        border: 6px solid #ffffff;
        top: -55px;
    }
    .profileCardInfoEditIcon{
        margin-top: -120px
    }
}
@media (max-width:375px){
    .profileImage{
        border: 6px solid #ffffff;
        top: -55px;
    }
    .profileCardInfoEditIcon{
        margin-top: -110px
    }
}
@media (max-width:320px){
    .profileImage{
        border: 4px solid #ffffff;
        top: -45px;
    }
    .profileCardInfoEditIcon{
        margin-top: -100px
    }
}