.dropdown > a {
    color: #A4A4A4;
}

.dropdown > a:hover {
    color:#285273 ;
}

.dropdown-icon{
    color: #A4A4A4;
    font-size: 20px;
}
.dropdown-icon:hover{
    color:#285273;
}

.dropdown > a:hover .dropdown-icon{
    color:#285273;
}
.nav-link{
    padding:0;
}
.navbar-brand{
    margin-right:0;
    margin-left: 20px;
    text-align: end;
    padding: 0;
}

.rewyNavbar {
    background-color:#ffffff;
    margin-bottom: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-menu{
    left: auto ;
    right: 0 ;
}
.dropdown-menu.show{

    color:white;
    border-radius: 2px;
    margin-left:10px;
}
.dropdownShown-icon{
    color:#A4A4A4;
    margin-right: 10px;
}
.dropdown-item{
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    color: #A4A4A4;
}
.dropdown-list{
    display: inline-block;
    padding: 8px;
}
.dropdownQuestion{
    padding-right: 0px !important;
}
.dropdownQuestion > h3{
    margin: 0;
    font-size: 1.125rem;
    font-family: "Roboto",sans-serif;
    font-weight: 300;
    color: #A4A4A4;
    margin-right: 20px;
}
.dropdownQuestion > h3:hover{
    color:#285273;
}

@media (max-width:768px){
    .dropdownQuestion > h3{
        margin-bottom: 20px;
    }
}

