.dropdown > a {
    color: rgba(255,255,255,0.5);
}

.dropdown > a:hover {
    color: rgba(255,255,255,0.75);
}

svg{
    color: rgba(255,255,255,0.5);
}

svg:hover{
    color: rgba(255,255,255,0.75);
}

.dropdown > a:hover .dropdown-icon{
    color: rgba(255,255,255,0.75);
}