

.textEditorWrapper{
    display: block;
    height: fit-content;
    flex-direction: column;
    margin-top: 0;
}

.textEditor{
    height: 250px;
display: block;
min-height: 9em;
padding: 5px;
font-size: 17px;
font-weight: 300;
border: 2px solid #C4C4C4;
overflow: hidden;
}

.textEditorActive{
box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
height: 250px;
display: block;
min-height: 9em;
padding: 5px;
font-size: 17px;
font-weight: 300;
border: 2px solid #C4C4C4;
overflow: auto;
}

.textEditorToolbar{
    position: relative;
    margin: auto;
    display: block;
    min-height: 48px;
    padding: 5px 5px;
    border-top: 2px solid #C4C4C4;
    border-left: 2px solid #C4C4C4;
    border-right: 2px solid #C4C4C4;
 
}
.textEditorToolbar > div > div{
    display: inline-block;
    margin-right: 5px;
}
.textEditorToolbar  > div{
    display: inline-block;
    margin-right: 5px;
}

.answerTextView{
display: block;
min-height: 9em;
font-size: 17px;
font-weight: 300;

}

.questionTextView{
display: block;
min-height: 9em;
font-size: 17px;
font-weight: 300;
padding: 10px;

}

.inlineStyles{
    display: inline-block;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.styleButtons{
    width: 28px;
    height: 27px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #292D48;
    text-align: center;

    background-color: #fff;
    font-size: 16px;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.styleButtons:hover {
    transform: translateY(1px);
    color: #FFF;
    background-color: transparent;
    box-shadow: none;
    border: 1px solid #34495e;
  }

  .styleButtons > svg{
    vertical-align: middle;
}

  .styleButtonsActive{
    width: 28px;
    height: 27px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    text-align: center;

    background-color: rgba(244,128,36,1);
    font-size: 16px;
    font-family: Oxygen, sans-serif;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}
.styleButtonsActive > svg{
    color: #fff;
    vertical-align: middle;
}

.rdw-option-wrapper.rdw-option-active {
    background-color: rgba(244,128,36,1) !important;
    border: 1px solid rgba(244,128,36,1) !important;
    box-shadow: none;
}
.rdw-option-wrapper {
    border: 1px solid  #292D48 !important;
    width: 30px !important;
    height: 28px !important;
    border-radius: 0 !important;
}
.rdw-image-imagewrapper > img {
    width: 100% !important;
}

.rdw-editor-toolbar{
    border-radius: 0;
    border: 2px solid #c4c4c4 !important;
    margin-bottom: 0.5rem;
}
.rdw-editor-toolbar > div > div{
    border-radius: 0 !important;
    border: 2px solid  #292D48 !important;
}